.tile {
  padding: clamp(1.5rem, 1.1776859504rem + 1.3223140496vw, 2.5rem);
  color: var(--color-light);
  background-color: var(--color-main-dark);
  border: var(--border);
  border-radius: 0.75rem;
}

@media (width <= 90.06125rem) {
  .tile {
    border-radius: 0.625rem;
  }
}