.header {
  position: sticky;
  z-index: 100;
  top: 0;
  animation-name: scrolling-header;
  animation-fill-mode: both;
  animation-timeline: scroll();
  animation-range: 6.25rem 12.5rem;
}

@keyframes scrolling-header {
  to {
    box-shadow: 0 0 1rem 0 var(--color-dark);
  }
}