.footer__body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 1rem;
       column-gap: 1rem;
  padding-block: 2rem;
}

@media (width <= 90.06125rem) {
  .footer__body {
    padding-block: 1rem;
  }
}

@media (width <= 47.99875rem) {
  .footer__body {
    flex-direction: column;
    row-gap: 1rem;
  }
}