.about__list {
  display: grid;
  gap: 1.25rem;
  padding: 1.25rem;
  background-color: var(--color-main);
  border-radius: 0.75rem;
}

@media (width <= 90.06125rem) {
  .about__list {
    gap: 0.625rem;
    padding: 0.625rem;
    border-radius: 0.625rem;
  }
}

@media (width >= 47.99875rem) {
  .about__list {
    grid-template-columns: repeat(3, 1fr);
  }
}