.order-form {
  background-color: var(--color-main);
  background: url(../../images/from-bg.jpg) center / cover no-repeat;
  color: var(--color-light);
  border-radius: 0.75rem;
  padding: 1.25rem;
  margin-block: 0.9375rem;
}