.button {
  display: inline-flex;
  justify-content: center;
  min-width: 8.5625rem;
  padding: 1.125rem 1.5rem;
  font-size: 1.125rem;
  color: var(--color-light);
  white-space: nowrap;
  background-color: var(--color-dark);
  border: var(--border);
  border-radius: 0.75rem;
}

@media (width <= 90.06125rem) {
  .button {
    min-width: 6.4375rem;
    padding: 0.875rem 1.25rem;
    font-size: 0.875rem;
    border-radius: 0.5rem;
  }
}

@media (any-hover: hover) {
  .button:hover {
    color: var(--color-main-light);
    background-color: inherit;
    border-color: var(--color-main-light);
  }
}

@media (any-hover: none) {
  .button:active {
    color: var(--color-main-light);
    background-color: inherit;
    border-color: var(--color-main-light);
  }
}
